* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
<<<<<<< HEAD:Componente_principal_do_cartão_de_visualização_nft/css/style.css
    font-family: 'Outfit', sans-serif;
    color: white;
}

.container {
    width: 350px;
    margin: 100px auto;
    padding: 25px 20px;
    background-color: #14273E;
    border-radius: 7px;
}

.container .image-logo img {
    width: 310px;
    margin: 15px auto;
    border-radius: 7px;
}

.container .image-logo img:active {
    background-color: #00FFF8;
}

.container h3 {
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.container p {
    width: 300px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(194, 186, 186);
}

.container .icons {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid gray;
}

.container .icons img {
    margin-right: 3px;    
}

.container .icons span:first-child {
    color: #00FFF8;
}

.container .icons span:last-child {
    color: #8BACD9;
}

.container .avatar {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.container .avatar img {
    width: 45px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}

.container .avatar .avatar-text {
    color: #8BACD9;
    margin-right: 5px;
=======
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin: 100px auto;
    width: 400px;
    border-radius: 5px;
    position: relative;
}

.container .image img {
    border-radius: 8px 8px 0 0;
    width: 400px;
    margin: 0 auto;
}

.container .content {
    background-color: white;
    padding: 20px;
    border-radius: 0 0 8px 8px;
    position: relative;
    bottom: 4px;
}

.container .text {
    width: 250px;
    text-align: center;
    margin: 0 auto;
}

.container .text p {
    font-size: 14px;
    font-weight: 500;
    color: gray;
}

.container .text h2 {
    margin-bottom: 10px;
}

.container .links {
    width: 320px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-radius: 7px;
    background-color: rgba(227, 239, 250, 0.473);
    
}

.container .links img {
    width: 30px;
}

.container .links span {
    font-size: 14px;
}

.container .links span:first-child {
    margin-left: -15px;
}

.container .button {
    width: 300px;
    margin: 0 auto;
}



.container .button button {
    width: 300px;
    margin: 0 auto;
}

.container .button button:first-child {
    padding: 7px 0;
    border: none;
    border-radius: 5px;
    margin-bottom: 7px;
    background-color: #382BE1;
    color: white;
    font-weight: bold;
    box-shadow: 0 10px 10px rgba(0, 0, 255, 0.438);
}

.container .button button:last-child {
    padding: 7px 0;
    background-color: white;
    border: none;
}

.container .button a {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    text-decoration: none;
    color: rgb(8, 8, 77);
>>>>>>> 6ca73d985881858731cf2654e61b0e1f56ca317a:style.css
}